.company_overview_row {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.card {
  border: transparent;
  box-shadow: 0px 0px 5px 0px #b2b2b2;
  min-height: 20rem;
}
.footer_content_container a {
  color: #000;
  text-decoration: none;
  text-align: center;
  width: fit-content;
}
.footer_content_container div {
  margin-top: 1rem;
}
.footer_content_container .icons {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.footer_inner_row {
  align-items: center;
  justify-content: center;
}
.productsUnderDevelopement_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
