.video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.header_container {
  padding: 0;
  height: 80vh;
}
.banner_content {
  height: 60vh;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_container button {
  border: 1px solid #fff;
  background-color: #fff;
}
.header_container img {
  width: 8rem;
  height: 2.5rem;
}
.nav_navigator_container {
  align-items: center;
  justify-content: flex-end;
}
.nav_navigators a {
  color: #fff;
}
.nav_navigators {
  align-items: flex-end;
  justify-content: center;
}
