@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}
section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}
p {
  font-family: "Unna", serif;
  font-size: 17px;
}
